useDynLib(Acinonyx)
exportPattern("^[^\\.^A]+")
S3method('-','iObject')
S3method('+','iObject')
S3method('$','iMarker')
S3method('$','iPlot')
S3method('$','primitive')
S3method('$<-','iMarker')
S3method('$<-','iPlot')
S3method('$<-','primitive')
S3method('add.iContainer','iVisual')
S3method('add.iMarker','function')
S3method('add.iMarker','iCallback')
S3method('add.iPlot','lm')
S3method('add.iPlot','pairlist')
S3method('add.iPlot','primitive')
S3method('add.pairlist','primitive')
S3method('add.primitive','primitive')
S3method('add','default')
S3method('add','iContainer')
S3method('add','iMarker')
S3method('add','iPlot')
S3method('as.marker','iMarker')
S3method('as.marker','iObject')
S3method('color','primitive')
S3method('color<-','primitive')
S3method('delete.iMarker','iCallback')
S3method('delete.iPlot','character')
S3method('delete.iPlot','pairlist')
S3method('delete.iPlot','primitive')
S3method('delete','iMarker')
S3method('delete','iPlot')
S3method('fill','primitive')
S3method('fill<-','primitive')
S3method('hidden','primitive')
S3method('hidden<-','primitive')
S3method('iabline','default')
S3method('iabline','lm')
S3method('ibar','default')
S3method('ibar','factor')
S3method('ihist','default')
S3method('ilines','default')
S3method('imvp','default')
S3method('ipcp','default')
S3method('ipcp','data.frame')
S3method('ipcp','list')
S3method('ipcp','matrix')
S3method('iplot','default')
S3method('ipolygon','default')
S3method('isegments','default')
S3method('its','default')
S3method('marker','iPlot')
S3method('marker','NULL')
S3method('move','iVisual')
S3method('move','iWindow')
S3method('query','primitive')
S3method('query<-','primitive')
S3method('redraw','iPlot')
S3method('redraw','iVisual')
S3method('select','iMarker')
S3method('select','iPlot')
S3method('selected','iMarker')
S3method('selected','iPlot')
S3method('selected','NULL')
S3method('values','iMarker')
S3method('values','NULL')
S3method('values<-','iMarker')
S3method('visible','iMarker')
S3method('visible','iPlot')
S3method('visible','NULL')
S3method('visible<-','iMarker')
S3method('visible<-','iPlot')
